body {
    background-color: #D8DBE1;
    font-weight: bolder;
    font-size: 1em;
    line-height: 1.5em;
}

/* carousel */
.altura {
    margin: 1rem 0;
    padding: 0 1rem;
}

/* HOME */
.row {
    margin: 0;
}

.card {
    @extend .altura; 
    width: 400px;
    border-radius: 0;
    border: 2px solid $color-primario;
    padding: 0;
    transition: 4s;
    overflow: hidden;

    .card-img-top {
        width: 100%;
        padding: 0;
        filter: blur(5px);
        transition: 4s;
    }

    &:hover {
        background-color: $color-primario;
        color: black;
        box-shadow: 3px 3px 3px black;

        .btn-primary {
            border: 2px solid black;
        }

        .card-img-top {
            filter: blur(0);
        }
    }
}
section.accordionNn {
    margin-bottom: 20px;
}

/* CINE */

.text-blue {
    color: $color-primario;

    .hero,
    .hero_2 {
    background-size: cover;
    background-position: center;
}
    .hero {
        background-image: url(../img/poor.webp);
        background-size: cover;
        background-position: center;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        
    }

    
}

/* SERIES */
.hero_2 {
    background-image: url(../img/dragon.webp);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* CONTACTO */
main {
    width: 100%;
    height: 100%;

    section {
        width: 100%;
        height: 100%;
        

        .sectionContacto {
            margin: 1rem 0;
            padding: 0 1rem;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            gap: 2rem;
            grid-template-areas: "h1Contacto" "parrafoCon" "mapUbi" "contacto_form";
            justify-items: center;

            h1 {
                grid-area: h1Contacto;
            }

            .parrafoContacto {
                grid-area: parrafoCon;

                p {
                    -webkit-animation-duration: 3s;
                    animation-duration: 3s;
                    -webkit-animation-name: slidein;
                    animation-name: slidein;
                }
            }

            
        }
    }
}

/* FOOTER */
footer {
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    $gradient-color: if($modo-dark, linear-gradient(to left, blue, black), linear-gradient(to left, white, gray));
    background: $gradient-color;
    ul {
        height: 100%;
    }
}
